.App {
  text-align: center;
  height: calc(100vh - 110px);
  overflow-y: scroll;
  max-width: 800px;
  margin: 0 auto;
}

.app__form {
  background-color: #e9e9eb;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  width: calc(100% - 60px);
  max-width: 740px;
  height: 48px;
  margin: 7px;
  padding: 20px;
  border-radius: 10px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}

.app__messengerLogo {
  margin-top: 30px;
}
